@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@font-face {
  font-family: "Brandbe";
  font-weight: 800;
  src: local("Brandbe Bold"), url("../assets/Brandbe_Extra_Bold.otf") format("opentype");
  font-display: swap;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #D9B06A;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.hide {
  opacity: 0 !important;
  display: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.modal {
  --bs-modal-width: auto;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: #F2F2F2;
  overflow-x: hidden;
  position: relative;
}
body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-x: hidden;
  position: relative;
}
body main .whats_link {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  background: #D9B06A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  z-index: 999;
}
body main .whats_link img, body main .whats_link svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 2px 2px #0F0F0F);
}
body main section {
  width: 90%;
  height: 100vh;
}
body main #banner {
  position: relative;
}
body main #banner .Bg_home {
  position: absolute;
  top: 0;
  left: -6%;
  width: 112%;
  height: 100%;
  z-index: -1;
}
body main #banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6%;
  width: 32.75vw;
  height: 100vh;
  background-color: #4B4B4D;
  border-bottom-right-radius: 10vw;
}
body main #banner .banner_Block {
  position: relative;
  width: 27vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body main #banner .banner_Block #logo {
  width: 8vw;
  height: auto;
  margin: 3vh 0 14vh;
}
body main #banner .banner_Block h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  color: #FFFFFF;
  letter-spacing: 0.15vw;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10vh;
}
body main #banner .banner_Block h1::before {
  content: "";
  position: absolute;
  right: 12%;
  width: 32%;
  height: 3px;
  background: #D9B06A;
}
body main #banner .banner_Block h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.35vw;
  color: #FFFFFF;
  padding-right: 12%;
  line-height: 5.5vh;
  margin-bottom: 3vh;
}
body main #banner .banner_Block h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.95vw;
  color: #FFFFFF;
  padding-right: 12%;
  line-height: 2.5vh;
  margin-bottom: 8vh;
}
body main #banner .banner_Block .btn {
  display: flex;
  align-items: center;
  position: relative;
  height: 5.5vh;
  width: 15.5vw;
}
body main #banner .banner_Block .btn img, body main #banner .banner_Block .btn svg {
  position: absolute;
  z-index: 1;
}
body main #banner .banner_Block .btn img:last-child, body main #banner .banner_Block .btn svg:last-child {
  right: 0;
  width: auto;
  height: 1.75vh;
}
body main #banner .banner_Block .btn p {
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #FFFFFF;
  margin-left: 1.3vw;
}
body main #condominio {
  display: flex;
  position: relative;
  padding-top: 7.5vh;
}
body main #condominio .menu {
  position: absolute;
  top: 0;
  left: -6%;
  width: 102vw;
  height: 7vh;
  padding: 1vh 5% 1vh 6%;
  background: #F2F2F2;
  box-shadow: 0 0px 10px #0F0F0F;
  z-index: 999;
}
body main #condominio .menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
body main #condominio .menu ul li {
  width: 17%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #D9B06A;
  border-right: 1px solid #D9B06A;
}
body main #condominio .menu ul li:first-child {
  border-left: none;
}
body main #condominio .menu ul li:last-child {
  border-right: none;
}
body main #condominio .menu ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  color: #4B4B4D;
  letter-spacing: 0.05vw;
}
body main #condominio .fixed {
  position: fixed;
  left: 0;
  padding: 1vh 5%;
  background: #FFFFFF;
}
body main #condominio::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6%;
  width: 84%;
  height: 54vh;
  background: #D9B06A;
  z-index: 1;
  border-bottom-left-radius: 10vw;
}
body main #condominio .cond_block {
  width: 67%;
  height: 100%;
  z-index: 2;
}
body main #condominio .cond_block p {
  margin-top: 11vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.15vw;
  letter-spacing: 0.15vw;
  color: #FFFFFF;
}
body main #condominio .cond_block h2 {
  font-family: "Brandbe", sans-serif;
  font-size: 5.25vw;
  letter-spacing: 0.75vw;
  color: #FFFFFF;
}
body main #condominio .cond_block h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4vw;
  letter-spacing: 0.15vw;
  color: #FFFFFF;
  margin-top: 4.5vh;
}
body main #condominio .cond_block h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4vw;
  letter-spacing: 0.15vw;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-top: 2.5vh;
}
body main #condominio .cond_block h4 img, body main #condominio .cond_block h4 svg {
  margin-right: 1vw;
}
body main #condominio .cond_block ul {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding-right: 5vw;
}
body main #condominio .cond_block ul li {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #D9B06A;
  border-right: 1px solid #D9B06A;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #4B4B4D;
  letter-spacing: 0.1vw;
}
body main #condominio .cond_block ul li:first-child {
  border-left: none;
}
body main #condominio .cond_block ul li:last-child {
  border-right: none;
}
body main #condominio .cond_block h5 {
  margin-top: 3vh;
  padding-right: 4.75vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.95vw;
  color: #4B4B4D;
  line-height: 3.5vh;
}
body main #condominio .cond_block .btn {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  height: 5.5vh;
  width: 15.5vw;
}
body main #condominio .cond_block .btn img, body main #condominio .cond_block .btn svg {
  position: absolute;
  z-index: 1;
  height: auto;
}
body main #condominio .cond_block .btn p {
  all: unset;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #FFFFFF;
  margin-left: 1.4vw;
}
body main #condominio .block_imgCond {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}
body main #condominio .block_imgCond img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5vw;
}
body main #plantas {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
body main #plantas h2 {
  width: 100%;
  height: 10vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  color: #4B4B4D;
  display: flex;
  align-items: center;
}
body main #plantas .nav-pills {
  width: 25%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  padding-bottom: 15vh;
}
body main #plantas .nav-pills a {
  all: unset;
  display: flex;
  justify-content: center;
  margin: 0.5vh 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #D9B06A;
  border: 2px solid #D9B06A;
  border-radius: 5vw;
  padding: 0.5vh 0;
  letter-spacing: 0.15vw;
}
body main #plantas .nav-pills .active {
  background: #D9B06A;
  color: #FFFFFF;
}
body main #plantas .tab-content {
  width: 75%;
  height: 90vh;
  position: relative;
}
body main #plantas .tab-content .infos_plantas {
  position: absolute;
  bottom: 8vh;
  left: -22.5vw;
  width: 35vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
}
body main #plantas .tab-content .infos_plantas h3 {
  width: 100%;
  height: 35%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  color: #4B4B4D;
  display: flex;
  align-items: center;
}
body main #plantas .tab-content .infos_plantas ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 2vw;
}
body main #plantas .tab-content .infos_plantas ul li {
  height: 33.3%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  color: #4B4B4D;
  letter-spacing: 0.1vw;
}
body main #plantas .tab-content .infos_plantas ul li::before {
  content: "";
  position: absolute;
  left: 0.15vw;
  width: 0.25vw;
  height: 0.25vw;
  background: #4B4B4D;
  border-radius: 50%;
}
body main #plantas .tab-content .espaco_planta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body main #plantas .tab-content .espaco_planta h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  color: #FFFFFF;
  position: relative;
  display: flex;
  justify-content: right;
  padding-right: 2vw;
}
body main #plantas .tab-content .espaco_planta h4 span {
  font-weight: 300;
  margin-left: 1.5vw;
}
body main #plantas .tab-content .espaco_planta h4::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 50vh;
  z-index: -1;
  background: #D9B06A;
  border-bottom-right-radius: 10vw;
}
body main #plantas .tab-content .espaco_planta img {
  margin: 5vh 13vw 0 auto;
  width: 45vw;
  height: auto;
}
body main #plantas .tab-content .espaco_planta .btn {
  margin: 30vh 5vw 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 5vh;
  width: 13vw;
}
body main #plantas .tab-content .espaco_planta .btn img, body main #plantas .tab-content .espaco_planta .btn svg {
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
}
body main #plantas .tab-content .espaco_planta .btn p {
  all: unset;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.1vw;
  color: #FFFFFF;
  margin-left: 1.4vw;
}
body main #plantas #C2_Quartos_Modal .modal-dialog, body main #plantas #C3_Quartos_Modal .modal-dialog {
  width: 75vw;
  height: 90%;
  margin: 2.5% auto;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: none;
  position: relative;
  border: none;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-close, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-close {
  position: absolute;
  top: -3vh;
  right: -4vw;
  width: 3vw;
  height: 3vw;
  background: none;
  border: none;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-close::before, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-close::after, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-close::before, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-close::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5vw;
  transform: rotate(45deg);
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-close::after, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-close::after {
  transform: rotate(-45deg);
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body {
  width: 100%;
  height: 100%;
  padding: 0;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 {
  width: 100%;
  height: 100%;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-indicators, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-indicators, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-indicators, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-indicators {
  height: 0.75vh;
  align-items: center;
  overflow: hidden;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-indicators button, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-indicators button, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-indicators button, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-indicators button {
  background: #FFFFFF;
  width: 2.5vw;
  height: 0.5vh;
  margin: 0 0.25vw;
  border-radius: 10vw;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-inner, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-inner, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-inner, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-inner {
  width: 100%;
  height: 100%;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-inner .carousel-item, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-inner .carousel-item, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-inner .carousel-item, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-inner .carousel-item img, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-inner .carousel-item img, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-inner .carousel-item img, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 button, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 button, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 button, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 button {
  width: 10%;
  height: 75%;
  margin: auto 0;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 button .carousel-control-prev-icon, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 button .carousel-control-next-icon, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 button .carousel-control-prev-icon, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 button .carousel-control-next-icon, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 button .carousel-control-prev-icon, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 button .carousel-control-next-icon, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 button .carousel-control-prev-icon, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 button .carousel-control-next-icon {
  width: 4vw;
  height: 8vh;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-control-prev, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-control-prev, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-control-prev, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-control-prev {
  left: -7.5vw;
}
body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-control-next, body main #plantas #C2_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-control-next, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC2 .carousel-control-next, body main #plantas #C3_Quartos_Modal .modal-dialog .modal-content .modal-body #IndicatorsC3 .carousel-control-next {
  right: -7.5vw;
}
body main #galeria {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #galeria .divisor {
  position: absolute;
  top: 0;
  left: -6%;
  width: 111%;
  height: auto;
  z-index: -1;
}
body main #galeria::before {
  content: "";
  position: absolute;
  width: 111%;
  height: 87.5%;
  left: -6%;
  top: 13vh;
  background-color: #4B4B4D;
  z-index: -1;
}
body main #galeria h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #D9B06A;
  font-size: 3.5vw;
  padding: 1vh 0;
  margin-top: 9vh;
}
body main #galeria .nav-pills {
  justify-content: center;
  height: 6vh;
  width: 100%;
  margin-top: 5vh;
}
body main #galeria .nav-pills a {
  width: 20%;
  border-left: 1px solid #D9B06A;
  border-right: 1px solid #D9B06A;
  border-radius: 0;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  font-size: 1.15vw;
  color: #FFFFFF;
  letter-spacing: 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #galeria .nav-pills a:first-child {
  border-left: none;
}
body main #galeria .nav-pills a:last-child {
  border-right: none;
}
body main #galeria .nav-pills .active {
  background: #D9B06A;
}
body main #galeria .tab-content {
  margin-top: 5vh;
  width: 80%;
  height: 60vh;
  position: relative;
}
body main #galeria .tab-content .tab-pane {
  width: 100%;
  height: 100%;
}
body main #galeria .tab-content .tab-pane .splide {
  width: 100%;
  height: 100%;
}
body main #galeria .tab-content .tab-pane .splide .splide__arrows .splide__arrow {
  border-radius: 0;
  width: 2vw;
  height: 8vh;
  background: #D9B06A;
}
body main #galeria .tab-content .tab-pane .splide .splide__arrows .splide__arrow svg {
  width: 100%;
  height: 100%;
  padding: 0.25vw;
  fill: #FFFFFF;
}
body main #galeria .tab-content .tab-pane .splide .splide__arrows .splide__arrow--prev {
  left: -5vw;
  border-radius: 2vw 0.75vw 0.75vw 2vw;
}
body main #galeria .tab-content .tab-pane .splide .splide__arrows .splide__arrow--next {
  right: -5vw;
  border-radius: 0.75vw 2vw 2vw 0.75vw;
}
body main #galeria .tab-content .tab-pane .splide .splide__track {
  width: 100%;
  height: 100%;
}
body main #galeria .tab-content .tab-pane .splide .splide__track .splide__list .splide__slide button {
  width: 100%;
  height: 50%;
  border: none;
  background: none;
}
body main #galeria .tab-content .tab-pane .splide .splide__track .splide__list .splide__slide button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #galeria .tab-content .tab-pane .splide .splide__pagination {
  display: none;
}
body main #galeria .tab-content::before, body main #galeria .tab-content::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 105%;
  left: 0;
  top: -2%;
  background: linear-gradient(90deg, #4B4B4D 10%, rgba(75, 75, 77, 0) 100%);
  z-index: 99;
}
body main #galeria .tab-content::after {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
body main #galeria #Img_adapt_Modal .modal-dialog {
  width: 75vw;
  height: 90%;
  margin: 2.5% auto;
}
body main #galeria #Img_adapt_Modal .modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: none;
  position: relative;
  border: none;
}
body main #galeria #Img_adapt_Modal .modal-dialog .modal-content .modal-close {
  position: absolute;
  top: -3vh;
  right: -4vw;
  width: 3vw;
  height: 3vw;
  background: none;
  border: none;
}
body main #galeria #Img_adapt_Modal .modal-dialog .modal-content .modal-close::before, body main #galeria #Img_adapt_Modal .modal-dialog .modal-content .modal-close::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #FFFFFF;
  border-radius: 5vw;
  transform: rotate(45deg);
}
body main #galeria #Img_adapt_Modal .modal-dialog .modal-content .modal-close::after {
  transform: rotate(-45deg);
}
body main #galeria #Img_adapt_Modal .modal-dialog .modal-content .modal-body {
  width: 100%;
  height: 100%;
  padding: 0;
}
body main #galeria #Img_adapt_Modal .modal-dialog .modal-content .modal-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body main #localizacao {
  position: relative;
  padding-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body main #localizacao .divisor {
  position: absolute;
  top: 0;
  left: -6%;
  width: 111%;
  height: auto;
  z-index: -1;
  transform: rotate(180deg);
}
body main #localizacao h2 {
  width: 100%;
  height: 10vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #4B4B4D;
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #localizacao h2 span {
  color: #D9B06A;
  margin-left: 0.75vw;
}
body main #localizacao h3 {
  width: 100%;
  height: 5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #4B4B4D;
  font-size: 1vw;
  text-align: center;
}
body main #localizacao .map {
  height: 70vh;
  width: 45vw;
  position: relative;
}
body main #localizacao .map iframe {
  top: 10%;
  left: -11.2%;
  position: absolute;
  border: solid #D9B06A 10px;
  border-left: none;
  width: 104%;
  height: 80%;
}
body main #localizacao .map::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  left: -11.1%;
  top: 0;
  background-color: #D9B06A;
  z-index: -1;
  border-top-right-radius: 10vw;
}
body main #localizacao .locais_block {
  width: 45vw;
  height: 70vh;
  padding: 7.5vh 0 7.5vh 2.5vw;
  display: flex;
  flex-wrap: wrap;
}
body main #localizacao .locais_block .local {
  width: 33.3%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body main #localizacao .locais_block .local img {
  border: 5px solid #D9B06A;
  height: 50%;
}
body main #localizacao .locais_block .local h4 {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  color: #4B4B4D;
  margin-top: 1vh;
}
body main #localizacao .locais_block .local p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.75vw;
  color: #4B4B4D;
  padding: 0 2vw;
  text-align: center;
}
body main #localizacao .locais_block .local:nth-child(4) img, body main #localizacao .locais_block .local:nth-child(5) img, body main #localizacao .locais_block .local:nth-child(6) img {
  margin-top: auto;
}
body main #entrega {
  display: flex;
  flex-direction: column;
}
body main #entrega h2 {
  margin-top: 5vh;
  width: 100%;
  height: 10vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #4B4B4D;
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #entrega h2 span {
  color: #D9B06A;
  margin-left: 0.75vw;
  font-weight: 700;
}
body main #entrega .Relogio {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
}
body main #entrega .Relogio .clock_Num {
  width: 8vw;
  margin: 0 1.5vw;
  display: flex;
  flex-direction: column;
}
body main #entrega .Relogio .clock_Num span {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  color: #D9B06A;
}
body main #entrega .Relogio .clock_Num p {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1vw;
}
body main #entrega .barraProgresso {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}
body main #entrega .barraProgresso .progress-block {
  width: 50%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3.5vw;
  margin-top: -5%;
}
body main #entrega .barraProgresso .progress-block h4, body main #entrega .barraProgresso .progress-block span {
  margin-top: auto;
  width: 50%;
  height: 20%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: #4B4B4D;
  display: flex;
  align-items: end;
  justify-content: left;
}
body main #entrega .barraProgresso .progress-block span {
  font-weight: 900;
  justify-content: right;
}
body main #entrega .barraProgresso .progress-block .progress-wrap {
  margin-top: 1vh;
  width: 100%;
  height: 30%;
  overflow: hidden;
  position: relative;
  border-radius: 0.75vw;
  background: linear-gradient(90deg, rgb(75, 75, 77) 0%, rgb(217, 176, 106) 100%);
}
body main #entrega .barraProgresso .progress-block .progress-wrap .progress-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  background: #C8C8C9;
}
body main #entrega .barraProgresso .progress-block:nth-child(1), body main #entrega .barraProgresso .progress-block:nth-child(2) {
  margin-top: 5vh;
}
body main #contato {
  height: 75vh;
  outline: 1px solid red;
  overflow: hidden;
}
body main #contato .form {
  width: 50%;
  height: 100%;
  padding: 1vw;
  display: flex;
  align-items: center;
}
body main #contato .form .labels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
  padding-bottom: 10vh;
  position: relative;
  justify-content: flex-end;
}
body main #contato .form .labels .BlockBox {
  width: 80%;
  height: 7vh;
  position: relative;
  margin: 3vh 0;
  background-color: #888888;
  border-radius: 1vw;
  display: flex;
}
body main #contato .form .labels .BlockBox:nth-child(5) {
  height: 12vh;
}
body main #contato .form .labels .BlockBox input, body main #contato .form .labels .BlockBox textarea {
  width: 95% !important;
  margin-left: 2.5%;
  font-size: 1vw;
  color: orange;
  border: none;
  background: none;
  outline: none;
  padding: 2vh 0.5vw;
  font-weight: 800;
}
body main #contato .form .labels .BlockBox textarea {
  min-height: 11vh !important;
  resize: none;
}
body main #contato .form .labels .BlockBox span {
  font-weight: 700;
  position: absolute;
  left: 1vw;
  top: 1.1vw;
  font-size: 1.1vw;
  color: blue;
  transition: 0.5s;
  pointer-events: none;
}
body main #contato .form .labels .BlockBox:nth-child(1), body main #contato .form .labels .BlockBox:nth-child(2) {
  width: 38%;
}
body main #contato .form .labels .BlockBox:nth-child(2) {
  margin-left: 1.3vw;
}
body main #contato .form .labels .BlockBox input:focus ~ span, body main #contato .form .labels textarea:focus ~ span, body main #contato .form .labels input:valid ~ span, body main #contato .form .labels textarea:valid ~ span {
  transform: translate(-1vw, -5.5vh);
  font-size: 1.25vw;
  color: blue;
}
body main #contato .form .labels #Enviar_Contato {
  position: absolute;
  font-size: 1vw;
  background: blue;
  color: #FFFFFF;
  padding: 1vh 1vw;
  border-radius: 1vw;
  letter-spacing: 0.05vw;
  bottom: 0;
  right: 0;
  border: none;
  font-weight: 700;
}
body main #contato .form .labels .BlockBox {
  width: 50%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main #contato .form .labels .BlockBox input {
  width: 75%;
  height: 100%;
  border: none;
  font-family: "Antonio", sans-serif;
  font-size: 0.85vw;
  font-weight: 700;
  color: #FFFFFF;
  background: none;
  border-bottom: 1px solid red;
  z-index: 10 !important;
  padding: 0 1vw;
  margin-top: -1vh;
}
body main #contato .form .labels .BlockBox input:focus {
  outline: none;
}
body main #contato .form .labels .BlockBox span {
  font-family: "Antonio", sans-serif;
  position: absolute;
  left: 2.5vw;
  font-size: 1vw;
  color: #000000;
  font-weight: 500;
  transition: 0.5s;
  pointer-events: none;
  margin-top: -1vh;
}
body main #contato .form .labels .BlockBox .lengthInput {
  position: absolute;
  bottom: -4vh;
  right: 12.5%;
  width: 3.5vw;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Antonio", sans-serif;
  color: #FFFFFF;
  font-size: 0.75vw;
  font-weight: 800;
}
body main #contato .form .labels .BlockBox input:focus ~ span, body main #contato .form .labels input:valid ~ span {
  transform: translate(-0.75vw, -3.75vh);
  font-size: 0.9vw;
  font-weight: 900;
}
body main #contato .form .labels .categ_Atreladas_Select {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body main #contato .form .labels .categ_Atreladas_Select #category-select {
  position: relative;
  width: 85%;
  height: 4vh;
}
body main #contato .form .labels .categ_Atreladas_Select #category-select #options_btn_Subcat {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
  font-size: 1vw;
  z-index: 5;
}
body main #contato .form .labels .categ_Atreladas_Select #category-select #select-button {
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  position: relative;
  outline: none;
}
body main #contato .form .labels .categ_Atreladas_Select #category-select #select-button #selected_val_Subcat {
  font-family: "Antonio", sans-serif;
  color: #000000;
  font-size: 0.8vw;
  font-weight: 900;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.75vw;
  padding-top: 0.25vh;
}
body main #contato .form .labels .categ_Atreladas_Select #category-select #select-button img, body main #contato .form .labels .categ_Atreladas_Select #category-select #select-button svg {
  z-index: 99;
  position: absolute;
  right: 0.35vw;
  width: 2vw;
  height: 100%;
  padding: 0.5vh;
}
body main #contato .form .labels .categ_Atreladas_Select #category-select #select-button img path, body main #contato .form .labels .categ_Atreladas_Select #category-select #select-button svg path {
  fill: purple;
}
body main #contato .form .labels .categ_Atreladas_Select #options {
  z-index: 999;
  width: 85%;
  height: auto;
  max-height: 40vh;
  top: 13vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: greenyellow;
  display: none;
  position: absolute;
  padding: 0.5vw;
  border-radius: 0.5vw;
}
body main #contato .form .labels .categ_Atreladas_Select #options .option_Subcat {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #000000;
}
body main #contato .form .labels .categ_Atreladas_Select #options .option_Subcat span {
  all: unset;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.75vw;
  font-family: "Antonio", sans-serif;
  font-size: 0.75vw;
  font-weight: 800;
  color: #000000;
  z-index: 5;
}
body main #contato .form .labels .categ_Atreladas_Select #options .option_Subcat input[type=radio] {
  all: unset;
  position: absolute;
  inset: 0;
  z-index: 10;
}
body main #contato .form .labels .categ_Atreladas_Select #options .option_Subcat:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #4B4B4D;
  opacity: 0.5;
  z-index: -1;
}
body main #contato .form .labels .categ_Atreladas_Select #options .option_Subcat:last-child {
  border: none;
}
body main #contato .form .labels .categ_Atreladas_Select #options_btn_Subcat:checked + #select-button svg {
  transform: rotate(180deg);
}
body main #contato .form .labels .categ_Atreladas_Select #category-select:has(#options_btn_Subcat:checked) + #options {
  display: block;
}
body main #whats {
  height: 50vh;
  padding-bottom: 7vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #whats::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6%;
  width: 111%;
  height: 100%;
  background-color: #4B4B4D;
  z-index: -1;
}
body main #whats h2, body main #whats h3 {
  width: 100%;
  height: 8vh;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 3.25vw;
  color: #D9B06A;
  margin-top: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #whats h3 {
  height: auto;
  font-size: 2vw;
  color: #FFFFFF;
  font-weight: 300;
  padding: 1vh 0;
  margin-top: 1.5vh;
}
body main #whats .btn {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 5vh;
  width: 15vw;
  border-radius: 0;
}
body main #whats .btn img, body main #whats .btn svg {
  height: 100%;
  position: absolute;
  z-index: 1;
}
body main #whats .btn p {
  width: 100%;
  all: unset;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.1vw;
  color: #FFFFFF;
}
body footer {
  bottom: 0;
  left: 5%;
  position: absolute;
  width: 90%;
  height: 7vh;
  border-top: 5px solid #D9B06A;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 0.9vw;
  color: #FFFFFF;
}
body footer a {
  width: 7.5vw;
  height: 65%;
}
body footer a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
/* MOBILE */
/* Landscape */
/* TABLET */
/* Landscape *//*# sourceMappingURL=style.css.map */