@import 'colors_fonts';
@import 'base';

.modal{ --bs-modal-width: auto; }

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: $Cinzinha;
    overflow-x: hidden;
    position: relative;
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        overflow-x: hidden;
        position: relative;
        .whats_link{
            position: fixed;
            bottom: 2vh;
            right: 1vw;
            width: 4.5vw;
            height: 4.5vw;
            border-radius: 50%;
            background: #25D366;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1vw;
            z-index: 999;
            img, svg{
                width: 100%;
                height: 100%;
                filter: drop-shadow(0 1px 2px $Cinzao);
            }
        }
        section{
            width: 90%;
            height: 100vh;
        }
        #banner{
            position: relative;
            .Bg_home{
                position: absolute;
                top: 0;
                left: -6%;
                width: 112%;
                height: 100%;
                z-index: -1;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -6%;
                width: 32vw;
                height: 100vh;
                background-color: $Cinzinha;
                opacity: 0.1;
            }
            .banner_Block{
                position: relative;
                width: 27vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                #logo{
                    width: 12vw;
                    height: auto;
                    margin: 5vh 0 15vh;
                }
                h1{
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1.5vw;
                    color: $Branco;
                    letter-spacing: 0.15vw;
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10vh;
                }
                h2{
                    font-family: $Main-font;
                    font-weight: 700;
                    font-size: 2.35vw;
                    color: $Branco;
                    padding-right: 12%;
                    line-height: 5.5vh;
                    margin: 5vh 0;
                }
                .btn{
                    margin-top: 20vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    height: 5vh;
                    width: 20vw;
                    background-color: $Creme;
                    font-family: $Main-font;
                    font-weight: 900;
                    font-size: 1.25vw;
                    color: $Branco;
                    box-shadow: 0px 5px 5px $Cinzao;
                    transition: 0.3s ease-in-out all;
                    border-radius: 0.5vw;
                    &:hover{
                        transform: translateY(-5px);
                        font-size: 1.35vw;
                    }
                }
            }
        }
        #condominio{
            display: flex;
            position: relative;
            padding-top: 7.5vh;
            .menu{
                position: absolute;
                top: 0;
                left: -6%;
                width: 102vw;
                height: 7vh;
                padding: 1vh 5% 1vh 6%;
                background: $Cinzinha;
                box-shadow: 0 0px 10px $Cinzao;
                z-index: 999;
                ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 0;
                    li{
                        width: 17%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-left: 1px solid $Creme;
                        border-right: 1px solid $Creme;
                        &:first-child{ border-left: none; }
                        &:last-child{ border-right: none; }
                        position: relative;
                        a{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: $Main-font;
                            font-weight: 700;
                            font-size: 0.9vw;
                            color: $Cinza;
                            letter-spacing: 0.05vw;
                            &:hover{
                                &::before{
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    background-color: $Cinza;
                                    z-index: -1;
                                    opacity: 0.15;
                                }
                            }
                        }
                    }
                }
            }
            .fixed{
                position: fixed;
                left: 0;
                padding: 1vh 5%;
                background: $Branco;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -6%;
                width: 84%;
                height: 54vh;
                background: $Creme;
                z-index: 1;
                border-bottom-left-radius: 10vw;
            }
            .cond_block{
                width: 67%;
                height: 100%;
                z-index: 2;
                p{
                    margin-top: 11vh;
                    font-family: $Main-font;
                    font-weight: 400;
                    font-size: 1.15vw;
                    letter-spacing: 0.15vw;
                    color: $Branco;
                }
                #Villagio{
                    width: 90%;
                    height: 7.5vh;
                    margin-top: 2vh;
                }
                h3{
                    font-family: $Main-font;
                    font-weight: 700;
                    font-size: 1.4vw;
                    letter-spacing: 0.15vw;
                    color: $Branco;
                    margin-top: 4.5vh;
                }
                h4{
                    font-family: $Main-font;
                    font-weight: 700;
                    font-size: 1.4vw;
                    letter-spacing: 0.15vw;
                    color: $Branco;
                    display: flex;
                    align-items: center;
                    margin-top: 2.5vh;
                    img, svg{ margin-right: 1vw; }
                }
                ul{
                    width: 100%;
                    height: 6vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10vh;
                    padding-right: 5vw;
                    li{
                        width: 25%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-left: 1px solid $Creme;
                        border-right: 1px solid $Creme;
                        &:first-child{ border-left: none; }
                        &:last-child{ border-right: none; }
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1vw;
                        color: $Cinza;
                        letter-spacing: 0.1vw;
                    }
                }
                h5{
                    margin-top: 3vh;
                    padding-right: 4.75vw;
                    font-family: $Main-font;
                    font-weight: 300;
                    font-size: 0.95vw;
                    color: $Cinza;
                    line-height: 3.5vh;
                }
                .btn{
                    margin-top: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    height: 5vh;
                    width: 13vw;
                    background-color: $Cinza;
                    font-family: $Main-font;
                    font-weight: 900;
                    font-size: 1.25vw;
                    color: $Branco;
                    box-shadow: 0px 5px 5px $Cinzao;
                    transition: 0.3s ease-in-out all;
                    border-radius: 0.5vw;
                    &:hover{
                        transform: translateY(-5px);
                        font-size: 1.35vw;
                    }
                }
            }
            .block_imgCond{
                width: 33%;
                height: 100%;
                display: flex;
                align-items: center;
                z-index: 2;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    border-radius: 0.5vw;
                }
            }
        }
        #Club{
            display: flex;
            flex-direction: column;
            position: relative;

            h2{
                width: 100%;
                height: 6vh;
                font-family: $Main-font;
                font-weight: 500;
                color: $Cinza;
                font-size: 2.5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    color: $Creme;
                    margin-left: 0.75vw;
                    font-weight: 700;
                }
            }
            #bannerClub{
                position: absolute;
                top: 7vh;
                left: -6%;
                width: 111%;
                height: 45vh;
                z-index: -1;
                object-fit: cover;
            }
            .imgsBlock{
                width: 100%;
                height: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 46vh;
                img{
                    width: 25%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            p{
                height: 23vh;
                padding: 2vw;
                font-family: $Main-font;
                font-weight: 300;
                font-size: 1vw;
                color: $Cinza;
                line-height: 3.5vh;
            }
            .btn{
                position: absolute;
                bottom: 8vh;
                right: 1vw;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5vh;
                width: 16vw;
                background-color: $Creme;
                font-family: $Main-font;
                font-weight: 900;
                font-size: 1.25vw;
                color: $Branco;
                box-shadow: 0px 5px 5px $Cinzao;
                transition: 0.3s ease-in-out all;
                border-radius: 0.5vw;
                &:hover{
                    transform: translateY(-5px);
                    font-size: 1.35vw;
                }
            }
           
        }
        #plantas{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            h2{
                width: 100%;
                height: 10vh;
                font-family: $Main-font;
                font-weight: 700;
                font-size: 2vw;
                color: $Cinza;
                display: flex;
                align-items: center;
            }
            .nav-pills{
                width: 25%;
                height: 90vh;
                display: flex;
                flex-direction: column;
                padding: 1vw;
                padding-bottom: 15vh;
                a{
                    all: unset;
                    display: flex;
                    justify-content: center;
                    margin: 0.5vh 0;
                    font-family: $Main-font;
                    font-weight: 700;
                    font-size: 1vw;
                    color: $Creme;
                    border: 2px solid $Creme;
                    border-radius: 5vw;
                    padding: 0.5vh 0;
                    letter-spacing: 0.15vw;
                    position: relative;
                    &:hover{
                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: $Cinza;
                            z-index: -1;
                            opacity: 0.075;
                            border-radius: 5vw;
                        }
                    }
                }
                .active{
                    background: $Creme;
                    color: $Branco;
                }
            }
            .tab-content{
                width: 75%;
                height: 90vh;
                position: relative;
                .infos_plantas{
                    position: absolute;
                    bottom: 8vh;
                    left: -22.5vw;
                    width: 35vw;
                    height: 25vh;
                    display: flex;
                    flex-direction: column;
                    h3{
                        width: 100%;
                        height: 35%;
                        font-family: $Main-font;
                        font-weight: 700;
                        font-size: 1.5vw;
                        letter-spacing: 0.3vw;
                        color: $Cinza;
                        display: flex;
                        align-items: center;
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        height: 65%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: left;
                        margin-left: 2vw;
                        li{
                            height: 33.3%;
                            display: flex;
                            align-items: center;
                            padding-left: 1vw;
                            position: relative;
                            font-family: $Main-font;
                            font-weight: 500;
                            font-size: 0.9vw;
                            color: $Cinza;
                            letter-spacing: 0.1vw;
                            &::before{
                                content: '';
                                position: absolute;
                                left: 0.15vw;
                                width: 0.25vw;
                                height: 0.25vw;
                                background: $Cinza;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .espaco_planta{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    h4{
                        font-family: $Main-font;
                        font-weight: 700;
                        font-size: 6.5vw;
                        color: $Branco;
                        position: relative;
                        display: flex;
                        justify-content: right;
                        padding-right: 2vw;
                        span{
                            font-weight: 300;
                            margin-left: 1.5vw;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 45%;
                            height: 50vh;
                            z-index: -1;
                            background: $Creme;
                            border-bottom-right-radius: 10vw;
                        }
                    }
                    img{
                        margin: 2vh 10vw 0 auto;
                        width: 60vw;
                        height: auto;
                    }
                    .btn{
                        margin: 12vh 5vw 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        height: 5vh;
                        width: 17vw;
                        background-color: $Creme;
                        font-family: $Main-font;
                        font-weight: 900;
                        font-size: 1.5vw;
                        color: $Branco;
                        box-shadow: 0px 5px 5px $Cinza;
                        transition: 0.3s ease-in-out all;
                        border-radius: 0.5vw;
                        &:hover{
                            transform: translateY(-5px);
                            font-size: 1.65vw;
                        }
                    }
                }
            }
            #C2_Quartos_Modal, #C3_Quartos_Modal{
                .modal-dialog{
                    width: 75vw;
                    height: 90%;
                    margin: 2.5% auto;
                    .modal-content{
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                        background: none;
                        position: relative;
                        border: none;
                        .modal-close{
                            position: absolute;
                            top: -3vh;
                            right: -4vw;
                            width: 3vw;
                            height: 3vw;
                            background: none;
                            border: none;
                            &::before, &::after{
                                content: '';
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                width: 100%;
                                height: 5px;
                                background: $Branco;
                                border-radius: 5vw;
                                transform: rotate(45deg);
                            }
                            &::after{
                                transform: rotate(-45deg);
                            }
                        }
                        .modal-body{
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            position: relative;
                            p{
                                position: absolute;
                                bottom: -5vh;
                                left: -11vw;
                                font-family: $Main-font;
                                font-weight: 700;
                                font-size: 1.5vw;
                                color: $Branco;
                                z-index: 99;
                            }
                            #IndicatorsC2, #IndicatorsC3{
                                width: 100%;
                                height: 100%;
                                .carousel-indicators{
                                    height: 0.75vh;
                                    align-items: center;
                                    overflow: hidden;
                                    button{
                                        background: $Branco;
                                        width: 2.5vw;
                                        height: 0.5vh;
                                        margin: 0 0.25vw;
                                        border-radius: 10vw;
                                    }
                                }
                                .carousel-inner{
                                    width: 100%;
                                    height: 100%;
                                    .carousel-item{
                                        width: 100%;
                                        height: 100%;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: contain;
                                        }
                                    }
                                }
                                button{
                                    width: 10%;
                                    height: 75%;
                                    margin: auto 0;
                                    .carousel-control-prev-icon, .carousel-control-next-icon{
                                        width: 4vw;
                                        height: 8vh;
                                    }
                                }
                                .carousel-control-prev {
                                    left: -7.5vw;
                                }
                                .carousel-control-next {
                                    right: -7.5vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        #galeria{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .divisor{
                position: absolute;
                top: 0;
                left: -6%;
                width: 111%;
                height: auto;
                z-index: -1;
            }
            &::before{
                content: '';
                position: absolute;
                width: 111%;
                height: 87.5%;
                left: -6%;
                top: 13vh;
                background-color: $Cinza;
                z-index: -1;
            }
            h2{
                text-align: center;
                font-family: $Main-font;
                font-weight: 700;
                color: $Creme;
                font-size: 3.5vw;
                padding: 1vh 0;
                margin-top: 9vh;
            }
            .nav-pills{
                justify-content: center;
                height: 6vh;
                width: 100%;
                margin-top: 5vh;
                a{
                    width: 20%;
                    border-left: 1px solid $Creme;
                    border-right: 1px solid $Creme;
                    border-radius: 0;
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1.15vw;
                    color: $Branco;
                    letter-spacing: 0.1vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:first-child{border-left: none;}
                    &:last-child{border-right: none;}
                    position: relative;
                    &:hover{
                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: $Creme;
                            z-index: -1;
                            opacity: 0.15;
                        }
                    }
                }   
                .active{
                    background: $Creme;
                }
            }
            .tab-content{
                margin-top: 5vh;
                width: 80%;
                height: 60vh;
                position: relative;
                .tab-pane{
                    width: 100%;
                    height: 100%;
                    .splide{
                        width: 100%;
                        height: 100%;
                        .splide__arrows {
                            .splide__arrow {
                                border-radius: 0;
                                width: 2vw;
                                height: 8vh;
                                background: $Creme;
                                svg{
                                    width: 100%;
                                    height: 100%;
                                    padding: 0.25vw;
                                    fill: $Branco;
                                }
                            }
                            .splide__arrow--prev{
                                left: -5vw;
                                border-radius: 2vw 0.75vw 0.75vw 2vw;
                            }
                            .splide__arrow--next{
                                right: -5vw;
                                border-radius: 0.75vw 2vw 2vw 0.75vw;

                            }
                        }
                        .splide__track{
                            width: 100%;
                            height: 100%;
                            .splide__list{
                                .splide__slide{
                                    button{
                                        width: 100%;
                                        height: 50%;
                                        border: none;
                                        background: none;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }
                            }
                        }
                        .splide__pagination{
                            display: none;
                        }
                    }
                }
                &::before, &::after{
                    content: '';
                    position: absolute;
                    width: 10%;
                    height: 105%;
                    left: -1%;
                    top: -2%;
                    background: linear-gradient(90deg, $Cinza 10%, #4b4b4d00 100%);
                    z-index: 99;
                }
                &::after{
                    left: auto;
                    right: -1%;
                    transform: rotate(180deg);
                }
            }
            #Img_adapt_Modal{
                .modal-dialog{
                    width: 75vw;
                    height: 90%;
                    margin: 2.5% auto;
                    .modal-content{
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                        background: none;
                        position: relative;
                        border: none;
                        .modal-close{
                            position: absolute;
                            top: -3vh;
                            right: -4vw;
                            width: 3vw;
                            height: 3vw;
                            background: none;
                            border: none;
                            &::before, &::after{
                                content: '';
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                width: 100%;
                                height: 5px;
                                background: $Branco;
                                border-radius: 5vw;
                                transform: rotate(45deg);
                            }
                            &::after{
                                transform: rotate(-45deg);
                            }
                        }
                        .modal-body{
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            p{
                                position: absolute;
                                bottom: -5vh;
                                left: -11vw;
                                font-family: $Main-font;
                                font-weight: 700;
                                font-size: 1.5vw;
                                color: $Branco;
                                z-index: 99;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
        #localizacao{
            position: relative;
            padding-top: 15vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .divisor{
                position: absolute;
                top: 0;
                left: -6%;
                width: 111%;
                height: auto;
                z-index: -1;
                transform: rotate(180deg);
            }
            h2{
                width: 100%;
                height: 10vh;
                font-family: $Main-font;
                font-weight: 700;
                color: $Cinza;
                font-size: 2.5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    color: $Creme;
                    margin-left: 0.75vw;
                }
            }
            h3{
                width: 100%;
                height: 5vh;
                font-family: $Main-font;
                font-weight: 500;
                color: $Cinza;
                font-size: 1vw;
                text-align: center;
            }
            .map{
                height: 70vh;
                width: 45vw;
                position: relative;
                iframe{
                    top: 10%;
                    left: -11.2%;
                    position: absolute;
                    border: solid $Creme 10px;
                    border-left: none;
                    width: 104%;
                    height: 80%;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 75%;
                    height: 100%;
                    left: -11.1%;
                    top: 0;
                    background-color: $Creme;
                    z-index: -1;
                    border-top-right-radius: 10vw;
                }
            }
            .locais_block{
                width: 45vw;
                height: 70vh;
                padding: 7.5vh 0 7.5vh 2.5vw;
                display: flex;
                flex-wrap: wrap;
                .local{
                    width: 25%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    img{
                        border: 5px solid $Creme;
                        height: 50%;
                    }
                    h4{
                        width: 100%;
                        height: 15%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $Main-font;
                        font-weight: 700;
                        font-size: 1vw;
                        color: $Cinza;
                        margin-top: 1vh;
                        text-align: center;
                    }
                    p{
                        width: 100%;
                        font-family: $Main-font;
                        font-weight: 300;
                        font-size: 0.7vw;
                        color: $Cinza;
                        padding: 0 2vw;
                        text-align: center;
                    }
                    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8){
                        img{
                            margin-top: auto;
                        }
                        p{
                            margin-top: 1.5vh;
                        }
                    }
                }
            }
        }
        #entrega{
            display: flex;
            flex-direction: column;
            h2{
                margin-top: 5vh;
                width: 100%;
                height: 10vh;
                font-family: $Main-font;
                font-weight: 300;
                color: $Cinza;
                font-size: 2.5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    color: $Creme;
                    margin-left: 0.75vw;
                    font-weight: 700;
                }
            }
            .Relogio{
                width: 100%;
                height: 15vh;
                display: flex;
                justify-content: center;
                .clock_Num{
                    width: 8vw;
                    margin: 0 1.5vw;
                    display: flex;
                    flex-direction: column;
                    span{
                        width: 100%;
                        height: 75%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $Main-font;
                        font-weight: 700;
                        font-size: 4vw;
                        color: $Creme;
                    }
                    p{
                        width: 100%;
                        height: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $Main-font;
                        font-weight: 500;
                        font-size: 1.1vw;
                    }
                }
            }
            .barraProgresso{
                width: 100%;
                height: 70vh;
                display: flex;
                flex-wrap: wrap;
                .progress-block{
                    width: 50%;
                    height: 20%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 3.5vw;
                    margin-top: -5%;
                    h4, span{
                        margin-top: auto;
                        width: 50%;
                        height: 20%;
                        font-family: $Main-font;
                        font-weight: 400;
                        font-size: 1.25vw;
                        color: $Cinza;
                        display: flex;
                        align-items: end;
                        justify-content: left;
                    }
                    span{
                        font-weight: 900;
                        justify-content: right;
                    }
                    .progress-wrap {
                        margin-top: 1vh;
                        width: 100%;
                        height: 30%;
                        overflow: hidden;
                        position: relative;
                        border-radius: 0.75vw;
                        background: linear-gradient(90deg, rgba(75,75,77,1) 0%, rgba(217,176,106,1) 100%);
                        .progress-bar {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            border-radius: 0;
                            background: #C8C8C9;
                        }
                    }
                    &:nth-child(1), &:nth-child(2){
                        margin-top: 5vh;
                    }
                }
            }
        }
        #contato{
            height: 75vh;
            position: relative;
            display: flex;
            align-items: center;
            #Banner_contato{
                position: absolute;
                width: 111%;
                height: 70%;
                top: 15%;
                left: -6%;
                z-index: -1;
            }
            .form_block{
                width: 42%;
                height: 72%;
                margin-top: auto;
                margin-bottom: 5vh;
                display: flex;
                flex-direction: column;
                background-color: $Creme;
                border-radius: 1.5vw;
                border-bottom-left-radius: 10vw;
                padding: 1vh 2vw;
                position: relative;
                h2{
                    width: 100%;
                    height: 15%;
                    font-family: $Main-font;
                    font-weight: 900;
                    font-size: 1.5vw;
                    color: $Branco;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                form{
                    width: 100%;
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    .BlockBox{
                        width: 100%;
                        height: 20%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        input{
                            width: 90% !important;
                            height: 50%;
                            border: none;
                            background: none;
                            outline: none;
                            padding: 2vh 0.5vw;
                            font-family: $Main-font;
                            font-weight: 800;
                            font-size: 1vw;
                            color: $Branco;
                            border-bottom: 3px solid $Branco;
                        }
                        p, span{
                            position: absolute;
                            left: 2vw;
                            top: 1.75vw;
                            font-family: $Main-font;
                            font-weight: 700;
                            font-size: 1vw;
                            color: $Branco;
                            transition: 0.5s;
                            pointer-events: none;
                            display: flex;
                            flex-direction: row;
                        }
                        &:nth-child(1){
                            span{
                                left: 9.3vw;
                                color: $Cinza;
                                font-weight: 900;
                            }
                        }
                        &:nth-child(2){
                            span{
                                left: 5vw;
                                color: $Cinza;
                                font-weight: 900;
                            }
                        }
                    }
                    .BlockBox input:focus ~ p, .BlockBox input:focus ~ span{
                        transform:translate(-0.5vw, -2.5vh);
                        font-size: 1vw;
                    }
                    .seletor{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        #select{
                            position: relative;
                            width: 90% !important;
                            height: 50%;
                            border-bottom: 3px solid $Branco;
                            #options_btn {
                                all: unset;
                                position: absolute;
                                inset: 0;
                                cursor: pointer;
                                z-index:5;
                                font-family: $Main-font;
                                font-weight: 800;
                                font-size: 1vw;
                                color: $Branco;
                            }
                            #select-button {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                position: relative;
                                outline: none;
                                #selected_val{
                                    font-family: $Main-font;
                                    font-weight: 800;
                                    font-size: 1vw;
                                    color: $Branco;
                                    width: 80%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    white-space: nowrap;                  
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding: 0 0.75vw;
                                    padding-top: 0.25vh;
                                }
                                img, svg{
                                    z-index: 99;
                                    position: absolute;
                                    right: 0.5vw;
                                    width: 1.25vw;
                                    height: 100%;
                                    path{
                                        fill: $Branco;
                                    }
                                }
                            }
                        }
                        #options {
                            z-index: 999;
                            width: 90%;
                            height: auto;
                            max-height: 40vh;
                            top: 6.75vh;
                            background: $Cinzao;
                            display: none;
                            position: absolute;
                            padding: 1vh 1vw;
                            border-bottom-left-radius: 1vw;
                            border-bottom-right-radius: 1vw;
                            .option {
                                display: flex;
                                align-items: center;
                                position: relative;
                                width: 100%;
                                height: 5vh;
                                border-bottom: 1px solid $Cinzinha;
                                span{
                                    all: unset;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    white-space: nowrap;                  
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding-left: 0.75vw;
                                    font-family: $Main-font;
                                    font-weight: 800;
                                    font-size: 1vw;
                                    color: $Creme;
                                    z-index: 5;
                                }
                                input[type="radio"]{
                                    all: unset;
                                    position: absolute;
                                    inset: 0;
                                    z-index: 10;
                                }
                                &:hover{
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        inset: 0;
                                        background: $Cinza;
                                        opacity: 0.5;
                                        z-index: -1;
                                    }
                                }
                                &:last-child{
                                    border: none;
                                }
                            }
                        }
                        #options_btn:checked + #select-button svg{
                            transform: rotate(180deg);
                        }
                        #select:has(#options_btn:checked) + #options {
                            display: block;
                        }
                    }
                    .btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        height: 5vh;
                        width: 14vw;
                        margin-left: auto;
                        margin-top: 3vh;
                        background-color: $Cinza;
                        font-family: $Main-font;
                        font-weight: 900;
                        font-size: 1.1vw;
                        color: $Branco;
                        box-shadow: 0px 5px 5px $Cinzao;
                        transition: 0.3s ease-in-out all;
                        border-radius: 0.5vw;
                        &:hover{
                            transform: translateY(-5px);
                            font-size: 1.25vw;
                        }
                    }
                }
                #msg_form{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $Main-font;
                    font-weight: 700;
                    font-size: 1vw;
                    text-align: center;
                }
            }
            h3{
                margin-left: auto;
                width: 40%;
                height: auto;
                font-family: $Main-font;
                font-weight: 700;
                font-size: 3.5vw;
                text-align: right;
                color: $Branco;
            }
        }
        #whats{
            height: 50vh;
            padding-bottom: 7vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: -6%;
                width: 111%;
                height: 100%;
                background-color: $Cinza;
                z-index: -1;
            }
            h2, h3{
                width: 100%;
                height: 8vh;
                font-family: $Main-font;
                font-weight: 800;
                font-size: 3.25vw;
                color: $Creme;
                margin-top: 6vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h3{
                height: auto;
                font-size: 2vw;
                color: $Branco;
                font-weight: 300;
                padding: 1vh 0;
                margin-top: 1.5vh;
            }
            .btn{
                margin-top: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 5vh;
                width: 17vw;
                background-color: $Creme;
                font-family: $Main-font;
                font-weight: 900;
                font-size: 1.1vw;
                color: $Branco;
                box-shadow: 0px 5px 5px $Cinzao;
                transition: 0.3s ease-in-out all;
                border-radius: 0.5vw;
                &:hover{
                    transform: translateY(-5px);
                    font-size: 1.25vw;
                }
            }
        }
    }
    footer{
        bottom: 0;
        left: 5%;
        position: absolute;
        width: 90%;
        height: 7vh;
        border-top: 5px solid $Creme;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: $Main-font;
            font-weight: 800;
            font-size: 0.9vw;
            color: $Branco;
        }
        a{
            width: 7.5vw;
            height: 65%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
/* MOBILE */
@media only screen and (max-width: 479px){
}
/* Landscape */ 
@media only screen and (min-width: 480px) and (max-width: 767px){	
}
/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 833px) {
}
/* Landscape */ 
@media only screen and (min-width: 834px) and (max-width: 1024px) {
}